body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	background: #e69138;
	font-family: 'Open Sans' sans-serif;
}

.wrapper {
	margin: 30px auto 0 auto;
	padding: 10px;

	background: rgba(255,255,155,.4);
	text-align: center;

	width: 500px;
	border-radius: 4px;

	box-shadow: rgba(0,0,0,.1) 0px 2px 15px;
}

.wrapper h1 {
	font-weight: normal;
	font-size:5rem;

	padding: 0;
	margin: 0;

	text-transform: lowercase;
	font-family: 'Raleway', sans-serif;
}
.wrapper h2 {
	font-weight: normal;
	font-style: .7rem;

	padding: 20px 0;
	margin: 0 0 20px 0;
	border-bottom:1px solid rgba(0,0,0,.3);
}

.button {
	background: #cd450a;
	color:#fff;
	
	width: 70%;

	padding: 5px 10px;
	margin: 15px auto;
	display: block;

	font-size:.8rem;
	border: rgba(200, 100, 50, .4) 1px solid;

	border-radius: 3px;
	text-decoration: none;

	box-shadow: rgba(0,0,0,.1) 0px 2px 15px;
}

.button:hover {
	background: #F55611;
}

.button:active {
	background: #F55611;
	box-shadow: rgba(100,100,100,.3) 0px 2px 15px;
}
