{% extends "base.html" %}


{% block headincludes %}
	
<link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,600' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,600,300' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" href="/static/css/front.css">

{% endblock headincludes %}

{% block bottomincludes %}
		<script src="/static/js/doc_store.js"></script>
		<script src="/static/js/main.js"></script>
{% endblock bottomincludes %}


{% block content %}
	<div class="wrapper">
		<h1>Peggy</h1>
		<h2>a simple, css/html code editor</h2>

		<form action="/new" method="post">
			<input type="submit" class="button" value="New Session" />
		</form>
	</div>
{% endblock content %}
