{% extends "base.html" %}

{% block body %}
	
	<div class="wrapper">
		<header>
			<h1>Peggy</h1>
			<h2>It's for the frickin' children</h2>
		</header>
		<h2 class="sell">A self-hosted html+css editor designed for use in workshop tutorials</h2>

		<section>
			<h3>Filler Text</h3>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, architecto animi natus corporis ex tempore laudantium assumenda suscipit. Molestiae, earum, eius tempora quos eaque quaerat animi ullam modi enim neque.
			</p>
		</section>

	</div>

{% endblock %}